<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>余额宝</string>
		<key>icon</key>
		<string>20000032</string>
	</dict>
	<dict>
		<key>name</key>
		<string>口碑外卖</string>
		<key>icon</key>
		<string>20000120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>收款</string>
		<key>icon</key>
		<string>20000123</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国际汇款</string>
		<key>icon</key>
		<string>20000078</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AA付款</string>
		<key>icon</key>
		<string>20000066</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的快递</string>
		<key>icon</key>
		<string>20000046</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周围</string>
		<key>icon</key>
		<string>10000014</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩票</string>
		<key>icon</key>
		<string>10000011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱心捐赠</string>
		<key>icon</key>
		<string>10000009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>手机充值</string>
		<key>icon</key>
		<string>10000003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>信用卡还款</string>
		<key>icon</key>
		<string>09999999</string>
	</dict>
	<dict>
		<key>name</key>
		<string>转账</string>
		<key>icon</key>
		<string>09999988</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生活纳费</string>
		<key>icon</key>
		<string>09999976</string>
	</dict>
	<dict>
		<key>name</key>
		<string>淘宝学习</string>
		<key>icon</key>
		<string>2014021200003129</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学杂费</string>
		<key>icon</key>
		<string>2013080300000698</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包</string>
		<key>icon</key>
		<string>88886666</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贷款</string>
		<key>icon</key>
		<string>30000001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天猫</string>
		<key>icon</key>
		<string>20001000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>消息</string>
		<key>icon</key>
		<string>20000173_contactA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>记账本</string>
		<key>icon</key>
		<string>20000168</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汇率换算</string>
		<key>icon</key>
		<string>20000161</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>icon</key>
		<string>20000153</string>
	</dict>
	<dict>
		<key>name</key>
		<string>住宿</string>
		<key>icon</key>
		<string>20000152</string>
	</dict>
	<dict>
		<key>name</key>
		<string>机票火车票</string>
		<key>icon</key>
		<string>20000135</string>
	</dict>
	<dict>
		<key>name</key>
		<string>股票</string>
		<key>icon</key>
		<string>20000134</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亲密付</string>
		<key>icon</key>
		<string>20000132</string>
	</dict>
	<dict>
		<key>name</key>
		<string>淘宝电影</string>
		<key>icon</key>
		<string>20000131</string>
	</dict>
	<dict>
		<key>name</key>
		<string>更多</string>
		<key>icon</key>
		<string>icon_more_nor</string>
	</dict>
</array>
</plist>
