<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>物流</string>
		<key>icon</key>
		<string>bus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电影</string>
		<key>icon</key>
		<string>film</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闪购</string>
		<key>icon</key>
		<string>flashBuy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>icon</key>
		<string>game</string>
	</dict>
	<dict>
		<key>name</key>
		<string>住宿</string>
		<key>icon</key>
		<string>living</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加油</string>
		<key>icon</key>
		<string>oil</string>
	</dict>
	<dict>
		<key>name</key>
		<string>机票</string>
		<key>icon</key>
		<string>plane</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包</string>
		<key>icon</key>
		<string>redBag</string>
	</dict>
	<dict>
		<key>name</key>
		<string>跑步</string>
		<key>icon</key>
		<string>run</string>
	</dict>
	<dict>
		<key>name</key>
		<string>的士</string>
		<key>icon</key>
		<string>taxi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>票务</string>
		<key>icon</key>
		<string>ticket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行</string>
		<key>icon</key>
		<string>travel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>会员</string>
		<key>icon</key>
		<string>vip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>纳费</string>
		<key>icon</key>
		<string>water</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周围</string>
		<key>icon</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝宝</string>
		<key>icon</key>
		<string>zhifubao</string>
	</dict>
</array>
</plist>
