<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isMine</key>
		<true/>
		<key>time</key>
		<string>昨天</string>
		<key>picture</key>
		<string>pic1</string>
		<key>content</key>
		<string>今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错</string>
		<key>name</key>
		<string>德玛西亚</string>
		<key>icon</key>
		<string>user01_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic3</string>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic2</string>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>这是内容!!!</string>
		<key>name</key>
		<string>艾泽拉斯</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
</array>
</plist>
